// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


body {
  font-family: 'Lato', sans-serif;
}

#title {
  border-bottom-width: 1px;
  border-bottom-color: #F0F0F0;
  border-bottom-style: solid;
}

.section {
  margin-bottom: 50px;
}